{% extends 'sommelier_layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">List Of Wine</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="text-center">
                        <p class="mb-4">    </p>
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                            <thead style="color: #4e73df">
                            <tr>
                                <th>Name</th>
                                <th>Author</th>
                                <th>Publish Date</th>
                                <th>GUID</th>
                                <th>Description</th>
                                <th>Link</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for wine in wines %}
                                <tr>
                                    <td>{{ wine.title }}</td>
                                    <td>{{ wine.author }}</td>
                                    <td>{{ wine.publishDate | date('d F, Y') }}</td>
                                    <td>{{ wine.guid }}</td>
                                    <td>{{ wine.description }}</td>
                                    <td>{{ wine.link }}</td>
                                    <td>
                                        <a class="btn btn-primary btn-icon-split btn-sm"  href="{{ path('edit_wine',{id:wine.id}) }}" >
                                            <span class="icon text-white-50">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                            <span class="text">Edit</span>
                                        </a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>

    </div>
{% endblock body %}